@font-face {
  font-family: "MyFont";
  src: url("./sodo-sans-8.woff") format("woff"),
    url("./sodo-sans-9.woff") format("woff");
}
@font-face {
  font-family: "MyFont-bold";
  src: url("./sodo-sans-9.woff") format("woff");
}

body {
  height: 100%;
  margin: 0;

  color: rgba(0, 0, 0, 0.87);
  color: var(--colorTextBlack);
  font-family: MyFont;

  font-weight: 400;
  font-size: 1.4rem;
  font-size: var(--textSize2);
  line-height: 1.5;
  line-height: var(--lineHeightNormal);
  letter-spacing: -0.01em;
  letter-spacing: var(--letterSpacingNormal);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "calt";
}

/* Style the tab */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-style: bold;
  font-family: "MyFont-bold";
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: red;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
